In [20]:
import pandas as pd
import numpy as np
df=pd.read_excel('KTM New Data.xlsx', sheet_name='Coded_Data')
df.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship  Response
0   53       1           3           1             4             3         0
1   27       0           4           2             1             1         1
2   39       0           1           1             4             4         0
3   20       0           1           3             1             4         0
4   29       1           4           1             4             3         1

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [22]:
y=df[['Response']]
x=df.drop(columns=['Response'])

In [23]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [24]:
print(xtrain.head())
print(ytrain.head())
print(xtest.head())
print(ytest.head())

      Age  Gender  Occupation  Phone Type  Current Bike  Relationship
636    30       1           3           3             1             1
1329   22       0           4           3             4             1
297    34       1           1           1             3             1
1451   23       0           4           3             3             1
1019   22       0           4           3             4             1
      Response
636          0
1329         1
297          0
1451         1
1019         1
      Age  Gender  Occupation  Phone Type  Current Bike  Relationship
417    40       1           3           2             5             1
1305   19       1           4           3             3             2
256    50       1           3           2             4             1
786    30       1           1           2             3             4
1477   23       0           4           3             3             1
      Response
417          1
1305         1
256          1
786          0
1477         1

In [25]:
dt=DecisionTreeClassifier()
lr=LogisticRegression()

In [26]:
dt.fit(xtrain,ytrain)
lr.fit(xtrain,ytrain)

C:\Users\colourfulm\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
pred_dt=dt.predict(xtest)
pred_lr=lr.predict(xtest)

In [28]:
pred_dt

array([1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1], dtype=int64)

In [39]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [30]:
accuracy_score(ytest,pred_dt)

0.7368421052631579

In [31]:
accuracy_score(ytest,pred_lr)

0.7842105263157895

In [33]:
precision_score(ytest,pred_dt)

0.7699530516431925

In [35]:
precision_score(ytest,pred_lr)

0.812206572769953

In [37]:
recall_score(ytest,pred_dt)

0.7627906976744186

In [73]:
recall_score(ytest,pred_lr)

0.8046511627906977